.IMG_und{
	background: url("../img/und1.png") no-repeat;
	padding: 350px 300px;
}
.IMG_und1{
	background: url("../img/und2.png") no-repeat;
	padding: 350px 300px;
}
.IMG_und2{
	background: url("../img/und3.png") no-repeat;
	padding: 350px 300px;
}
}
.IMG_und3{
	background: url("../img/und4.png") no-repeat;
	padding: 350px 300px;
}
.LOAD_undertale{
	display: inline-block !important;
    text-decoration: none !important;
    background-color: #16ff09 !important;
    color: #006089 !important;
    border: 3px solid #006089 !important;
    border-radius: 50px !important;
    font-size: 16px !important;
    padding: 15px 50px !important; 
    transition: all 0.8s ease !important;
    margin: 40px  600px;
    margin-left: 400px;
    
}
.LOAD_undertale:hover{
    text-decoration: none !important; 
    background-color: #2701fd !important;
    color: #01ff15 !important;
    border-color: #7200e5 !important;
}
.LOAD_undertale1{
	display: inline-block !important;
    text-decoration: none !important;
    background-color: #16ff09 !important;
    color: #006089 !important;
    border: 3px solid #006089 !important;
    border-radius: 50px !important;
    font-size: 16px !important;
    padding: 15px 80px !important; 
    transition: all 0.8s ease !important;
    margin-left: -500px;
    
}
.LOAD_undertale1:hover{
    text-decoration: none !important; 
    background-color: #2701fd !important;
    color: #01ff15 !important;
    border-color: #7200e5 !important;
}