
/*окно undertale*/
.BT_undertale {
    display: inline-block !important;
    text-decoration: none !important;

    color: #06888F !important;
    border: 3px solid #56a80e !important;
    border-radius: 7px !important;
    font-size: 16px !important;
    padding:30px 20px !important;
    margin: 50px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: url("../img/IMG_undertale.png") -20px -40px;
    background-repeat: no-repeat;

}

.BT_undertale:hover{
    opacity: 0.9;
}


/*окно utorrent*/

.BT_utorrent {
        display: inline-block !important;
    text-decoration: none !important;

    color: #06888F !important;
    border: 3px solid #56a80e !important;
    border-radius: 7px !important;
    font-size: 16px !important;
    padding:30px 20px !important;
    margin: 50px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: url("../img/IMG_utorrent.png") -20px -40px;
    background-repeat: no-repeat;

}
.BT_utorrent:hover{
    opacity: 0.9;
}

/*текст welcome*/

.TEXT_Welcome {
    color:#7B68EE;
    margin: -200px 10px;
}
